body {
  /* background: linear-gradient(to bottom, #3e2b2f, #855684, #3d2059); */
  background: linear-gradient(to bottom, #3e2b2f 0%, #855684 50%, #3d2059 100%);
  color: white;
}
.merriweather-black-italic {
  font-family: "Merriweather", serif;
  font-weight: 900;
  font-style: italic;
  font-size: 2.2rem;
  color: black;
}

.big-btn {
  width: 150%;
  max-width: 500px;
  max-height: 200px;
}

.form-inline {
  background-color: aliceblue;
}
.custom-navbar {
  background-color: rgb(46, 5, 97);
}

.navbar-brand {
  color: rgba(219, 22, 94, 0.899);
}

/* Card Styling */
.card {
  border: none;
  margin: 10px;
  /* border-radius: 0.25rem; */
}

.card-body {
  background-color: #47a0a8; /* Change to your desired color */
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

/* Card Zoom Effect */
.card {
  transition: transform 0.4s ease; /* Smooth transition for zoom effect */
  filter: blur(0px);
  border-radius: 5px;
}

.card:hover {
  transform: scale(1.15);
  z-index: 1;
  /* filter: blur(3px);
  transition: filter 0.3s ease;  */
}

.container:hover .card {
  filter: blur(3px);
}

.container .card:hover {
  filter: blur(0px);
}

.col-6 {
  text-align: center;
  padding: 2rem;
  max-width: 80%;
}

.btn {
  transition: transform 0.1s ease; /* Smooth transition for button transform */
  background-color: #f2466be2;
  border: none;
}

.btn:hover {
  background-color: #a92b47e2;
  transition: 0.1s ease;
}

.btn:active {
  transform: translateY(4px);
}

input[type="text"] {
  width: 130px;
  box-sizing: border-box;
  border: 2px solid rgb(210, 210, 210);
  border-radius: 4px;
  font-size: 16px;
  background-color: rgb(210, 210, 210);
  background-image: url("");
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out, opacity 0.1s ease-in-out;
  opacity: 70%;
}

input[type="text"]:focus {
  width: 100%;
  opacity: 100%;
  background-color: rgb(237, 237, 237);
}
